    <!-- ./templates/index.html -->
    <html>
    <head>
      <!-- link to the Todo MVC index.css file -->
      <link rel="stylesheet" href="/static/todomvc-app-css/index.css">
      <title>Welcome to Nimbus' application</title>
    </head>

    <body>
      <section class="todoapp">
        <header class="header">
          <h1 style="color:blue;">Events</h1>
          <h2 style="color:blue;">Welcome to Nimbus' Application</h2>
          <input class="new-todo" placeholder="Add an event?" 
            autofocus="" onkeypress="addItem(event)">
        </header>

        <section class="main">
          <ul class="todo-list"></ul>
        </section>

        <footer class="footer"></footer>  
      </section>
    </body>
    </html>